@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #eff6e0;
  --box-color: rgba(33, 37, 41, 0.82);
  --button-color: #b5179e;
  --button-hover-color: #7209b7;
  --text-color: #faf3dd;
  --result-box-color: #004346;
}
.tip_wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
.tip_container {
  max-width: 90%;
  background-color: var(--box-color);
  border-radius: 8px;
  padding: 5px;
  color: var(--text-color);
  display: flex;
  gap: 20px;
}
.tip_data {
  padding: 10px;
}
.tip_data label {
  font-size: 24px;
  display: block;
  margin: 12px 0;
}
.tip_data input {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--main-bg-color);
}
.personInput input,
#billAmount {
  width: 100%;
}
.tip_data input:focus {
  outline: none;
}
.tip_option select {
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: var(--main-bg-color);
  margin-bottom: 10px;
}
.tip_option select:focus {
  outline: none;
}
.tip_option option {
  background-color: var(--box-color);
  color: var(--text-color);
}
.bill_Splitting label {
  display: inline;
  margin-left: 20px;
}
#yesSplit,
#noSplit {
  accent-color: var(--button-hover-color);
  margin-left: 4px;
}
#yesSplit:focus,
#noSplit:focus {
  transform: scale(1.5);
  transition: all 0.2s ease-in;
}
.personInput {
  display: none;
}
.submit {
  margin: 20px 0 10px 0;
}
.calculateTip {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  background-color: var(--button-color);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 25px;
}
.calculateTip:hover {
  background-color: var(--button-hover-color);
  transition: all 0.2s linear;
}
.line {
  width: 3px;
  max-width: 90%;
  height: auto;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  opacity: 0.65;
  margin: 40px 0px;
}
.calculated_data {
  background-color: var(--result-box-color);
  padding: 10px;
  text-align: center;
  display: none;
  border-radius: 8px;
}
.calculated_data label {
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0;
}
.calculated_data span {
  font-size: 26px;
}
.person_tip,
.person_bill {
  opacity: 0;
}
/* adding media query for small screen */
@media screen and (max-width: 540px) {
  .tip_container {
    flex-direction: column;
    width: 95%;
    margin: 25px 0;
  }
  .tip_data {
    width: 100%;
  }
  .line {
    width: 90%;
    margin: 0 auto;
    height: 3px;
  }
  .calculated_data {
    width: 100%;
  }
  .calculated_data label {
    font-size: 24px;
  }
}
